@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
*{
  font-family: 'Cuprum', sans-serif ;
  
}
a{
  text-decoration: none
}

.homeHero h3{
  text-shadow: 2px 2px 4px rgba(44, 62, 80, 1);

}
#icon {
  background: url('../src/images/skateboard-clipart-png-2.png');
  height: 20px;
  width: 20px;
  display: block;
 
}